<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Portal - Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/validation.css">
    <link rel="stylesheet" href="/assets/css/toast.css">
    <script src="/assets/js/components.js"></script>
</head>
<body>
    <div class="login-container">
        <!-- Background Image -->
        <div class="background-image"></div>
        <!-- Header -->
        <header class="header">
            <div class="header-content">
                <div class="logo-container">
                    <img src="/assets/images/logo33labs2.png" alt="33LABS Logo" class="logo">
                </div>
                <div class="language-selector">
                    <div class="language-container">
                        <div class="language-options">
                            <div class="language-option active">
                                <div class="language-option-content">
                                    <img src="/assets/images/msia-flag.png" alt="English" class="language-icon">
                                    <span class="language-text">English</span>
                                </div>
                            </div>
                            <div class="language-option">
                                <div class="language-option-content">
                                    <span class="language-text">Thai</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Login Form -->
        <main class="main-content">
            <div class="login-form-container">
                <div class="login-form-content">
                    <h1 class="title">Doctor Portal</h1>
                    
                    <form class="login-form" action="/login" method="POST">
                        <div class="form-group">
                            <label for="username" class="form-label">
                                <span class="required-asterisk">*</span>
                                <span class="label-text">Username</span>
                            </label>
                            <div class="input-container">
                                <input 
                                    type="text" 
                                    id="username" 
                                    name="username" 
                                    class="form-input" 
                                    value="" 
                                    placeholder="john.doe002"
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="password-label-container">
                                <label for="password" class="form-label">
                                    <span class="required-asterisk">*</span>
                                    <span class="label-text">Password</span>
                                </label>
                                <button type="button" class="help-button">
                                    <svg class="help-icon" viewBox="0 0 16 16" fill="none">
                                        <g opacity="0.4">
                                            <path d="M8 0.900391C11.9245 0.900391 15.0996 4.07588 15.0996 8C15.0996 11.9245 11.9241 15.0996 8 15.0996C4.07552 15.0996 0.900391 11.9241 0.900391 8C0.900391 4.07552 4.07588 0.900391 8 0.900391ZM8 2.07715C4.734 2.07715 2.07715 4.73397 2.07715 8C2.07715 11.266 4.734 13.9229 8 13.9229C11.266 13.9229 13.9229 11.266 13.9229 8C13.9229 4.73397 11.266 2.07715 8 2.07715Z" fill="#767676" stroke="#767676" stroke-width="0.2"></path>
                                            <path d="M7.76367 10.0732C8.23324 10.0735 8.62388 10.464 8.62402 10.9336C8.62402 11.392 8.24472 11.7947 7.76367 11.7949C7.28156 11.7949 6.91309 11.3913 6.91309 10.9336C6.91323 10.4647 7.29302 10.0732 7.76367 10.0732Z" fill="#767676" stroke="#767676" stroke-width="0.1"></path>
                                            <path d="M7.90039 3.93359C9.26429 3.93359 10.1932 4.6931 10.1934 5.7207C10.1934 6.23102 9.96327 6.66871 9.7002 7.00391C9.43703 7.33921 9.138 7.57637 8.99512 7.6875C8.70986 7.91052 8.56974 8.0958 8.49902 8.28809C8.4277 8.48221 8.42481 8.68884 8.4248 8.96387C8.4248 9.07246 8.39567 9.19642 8.29102 9.29199C8.18731 9.38668 8.01732 9.44629 7.75293 9.44629C7.53371 9.44625 7.3693 9.40649 7.26367 9.28125C7.16042 9.15854 7.12402 8.96521 7.12402 8.69043C7.12403 8.22986 7.22572 7.88685 7.36816 7.625C7.51042 7.36359 7.69184 7.18522 7.84668 7.05176H7.84766C7.93547 6.97727 8.03895 6.90008 8.1416 6.82031C8.24532 6.7397 8.35019 6.655 8.44336 6.5625C8.62982 6.37733 8.76645 6.16535 8.7666 5.90039C8.7666 5.67502 8.6697 5.51074 8.51172 5.40137C8.35163 5.2906 8.12591 5.23341 7.86914 5.2334C7.60712 5.2334 7.42903 5.28346 7.2998 5.35449C7.17064 5.42554 7.08622 5.52073 7.01465 5.61914C6.97805 5.66948 6.94655 5.71712 6.91211 5.7666C6.8786 5.81474 6.84332 5.86221 6.80273 5.90332C6.71938 5.98771 6.61484 6.04492 6.45801 6.04492C6.3057 6.04492 6.13615 5.99435 6.00391 5.8877C5.87031 5.77994 5.77638 5.61567 5.77637 5.39453C5.77637 4.78983 6.4607 3.93371 7.90039 3.93359Z" fill="#767676" stroke="#767676" stroke-width="0.1"></path>
                                        </g>
                                    </svg>
                                    <div class="help-tooltip">
                                        <p class="help-tooltip-text">Forgot password? Please contact our admin for assistance.</p>
                                    </div>
                                </button>
                            </div>
                            <div class="input-container">
                                <input 
                                    type="password" 
                                    id="password" 
                                    name="password" 
                                    class="form-input password-input" 
                                    placeholder="************"
                                >
                                <button type="button" class="password-toggle" title="Show/Hide password">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.5112 6.48276C14.4776 4.79938 12.1265 1.9751 8 1.9751C3.87353 1.9751 1.5224 4.79938 0.488783 6.48276C0.169253 6.99957 0 7.59518 0 8.20279C0 8.8104 0.169253 9.40601 0.488783 9.92282C1.5224 11.6062 3.87353 14.4305 8 14.4305C12.1265 14.4305 14.4776 11.6062 15.5112 9.92282C15.8307 9.40601 16 8.8104 16 8.20279C16 7.59518 15.8307 6.99957 15.5112 6.48276ZM14.375 9.22508C13.4873 10.6685 11.478 13.0976 8 13.0976C4.52196 13.0976 2.5127 10.6685 1.62503 9.22508C1.43519 8.91789 1.33464 8.56391 1.33464 8.20279C1.33464 7.84168 1.43519 7.48769 1.62503 7.1805C2.5127 5.73704 4.52196 3.30794 8 3.30794C11.478 3.30794 13.4873 5.73437 14.375 7.1805C14.5648 7.48769 14.6654 7.84168 14.6654 8.20279C14.6654 8.56391 14.5648 8.91789 14.375 9.22508Z" fill="#333333"/>
                                        <path d="M8.00007 4.87061C7.34104 4.87061 6.69682 5.06603 6.14885 5.43217C5.60089 5.7983 5.17381 6.3187 4.92161 6.92757C4.66941 7.53643 4.60343 8.2064 4.732 8.85277C4.86057 9.49913 5.17792 10.0929 5.64392 10.5589C6.10992 11.0249 6.70365 11.3422 7.35001 11.4708C7.99637 11.5993 8.66635 11.5334 9.27521 11.2812C9.88407 11.029 10.4045 10.6019 10.7706 10.0539C11.1367 9.50596 11.3322 8.86173 11.3322 8.2027C11.3311 7.3193 10.9797 6.47238 10.3551 5.84772C9.73039 5.22306 8.88347 4.87166 8.00007 4.87061ZM8.00007 10.202C7.60465 10.202 7.21812 10.0847 6.88934 9.86503C6.56056 9.64535 6.30431 9.33311 6.15299 8.96779C6.00168 8.60247 5.96208 8.20049 6.03922 7.81267C6.11637 7.42485 6.30678 7.06862 6.58638 6.78901C6.86598 6.50941 7.22221 6.319 7.61003 6.24186C7.99785 6.16472 8.39984 6.20431 8.76515 6.35563C9.13047 6.50695 9.44271 6.7632 9.66239 7.09198C9.88207 7.42075 9.99933 7.80729 9.99933 8.2027C9.99933 8.73294 9.78869 9.24146 9.41376 9.61639C9.03883 9.99133 8.53031 10.202 8.00007 10.202Z" fill="#333333"/>
                                    </svg>                                        
                                </button>
                            </div>
                        </div>

                        <div class="form-options">
                            <label class="checkbox-container">
                                <input type="checkbox" name="remember" class="checkbox-input">
                                <span class="checkbox-custom"></span>
                                <span class="checkbox-text">Remember me</span>
                            </label>
                           
                        </div>

                        <button type="submit" class="signin-button">
                            <span class="signin-text">Sign In</span>
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/toast.js"></script>
    <script>
        // Password toggle functionality
        document.querySelector('.password-toggle').addEventListener('click', function() {
            console.log('Password toggle clicked');
            const passwordInput = document.querySelector('.password-input');
            
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                // Replace with eye-closed icon
                this.innerHTML = `<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_307_2022)">
                    <path d="M15.517 6.60247C14.9151 5.61696 14.156 4.73664 13.2696 3.99647L15.1363 2.12981C15.2577 2.00407 15.3249 1.83567 15.3234 1.66087C15.3219 1.48608 15.2518 1.31887 15.1282 1.19526C15.0046 1.07166 14.8374 1.00154 14.6626 1.00003C14.4878 0.998506 14.3194 1.0657 14.1936 1.18714L12.1636 3.21981C10.9052 2.47236 9.46658 2.08278 8.00296 2.09314C3.87563 2.09314 1.52363 4.91847 0.488964 6.60247C0.169316 7.11948 0 7.7153 0 8.32314C0 8.93098 0.169316 9.5268 0.488964 10.0438C1.0908 11.0293 1.84996 11.9096 2.7363 12.6498L0.869631 14.5165C0.805957 14.578 0.755169 14.6515 0.72023 14.7329C0.68529 14.8142 0.666899 14.9017 0.66613 14.9902C0.665361 15.0787 0.682229 15.1665 0.715749 15.2484C0.74927 15.3304 0.798772 15.4048 0.861367 15.4674C0.923962 15.53 0.998397 15.5795 1.08033 15.613C1.16226 15.6465 1.25005 15.6634 1.33856 15.6626C1.42708 15.6619 1.51456 15.6435 1.5959 15.6085C1.67724 15.5736 1.7508 15.5228 1.8123 15.4591L3.84696 13.4245C5.10381 14.1718 6.54074 14.562 8.00296 14.5531C12.1303 14.5531 14.4823 11.7278 15.517 10.0438C15.8366 9.5268 16.0059 8.93098 16.0059 8.32314C16.0059 7.7153 15.8366 7.11948 15.517 6.60247ZM1.62496 9.34581C1.43505 9.0385 1.33446 8.68439 1.33446 8.32314C1.33446 7.96189 1.43505 7.60778 1.62496 7.30047C2.5143 5.85647 4.5243 3.42647 8.00296 3.42647C9.10981 3.42027 10.2011 3.68703 11.1803 4.20314L9.8383 5.54514C9.19825 5.12021 8.4309 4.92981 7.66645 5.00624C6.902 5.08267 6.18754 5.42123 5.6443 5.96448C5.10106 6.50772 4.76249 7.22218 4.68606 7.98663C4.60963 8.75108 4.80003 9.51843 5.22496 10.1585L3.68496 11.6985C2.86837 11.0383 2.17152 10.2424 1.62496 9.34581ZM10.003 8.32314C10.003 8.85357 9.79225 9.36228 9.41718 9.73736C9.04211 10.1124 8.5334 10.3231 8.00296 10.3231C7.70597 10.322 7.4131 10.2536 7.1463 10.1231L9.80296 7.46647C9.93344 7.73327 10.0018 8.02615 10.003 8.32314ZM6.00296 8.32314C6.00296 7.79271 6.21368 7.284 6.58875 6.90893C6.96382 6.53385 7.47253 6.32314 8.00296 6.32314C8.29996 6.32429 8.59283 6.39267 8.85963 6.52314L6.20296 9.17981C6.07249 8.91301 6.00411 8.62013 6.00296 8.32314ZM14.381 9.34581C13.4916 10.7898 11.4816 13.2198 8.00296 13.2198C6.89612 13.226 5.80481 12.9593 4.82563 12.4431L6.16763 11.1011C6.80768 11.5261 7.57503 11.7165 8.33948 11.64C9.10393 11.5636 9.81839 11.225 10.3616 10.6818C10.9049 10.1386 11.2434 9.4241 11.3199 8.65965C11.3963 7.8952 11.2059 7.12785 10.781 6.48781L12.321 4.94781C13.1376 5.608 13.8344 6.40384 14.381 7.30047C14.5709 7.60778 14.6715 7.96189 14.6715 8.32314C14.6715 8.68439 14.5709 9.0385 14.381 9.34581Z" fill="#333333"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_307_2022">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    `;
            } else {
                passwordInput.type = 'password';
                // Replace with eye icon
                this.innerHTML = `<svg class="eye-icon" viewBox="0 0 16 16" fill="none">
                    <path d="M15.5112 6.48276C14.4776 4.79938 12.1265 1.9751 8 1.9751C3.87353 1.9751 1.5224 4.79938 0.488783 6.48276C0.169253 6.99957 0 7.59518 0 8.20279C0 8.8104 0.169316 9.40601 0.488783 9.92282C1.5224 11.6062 3.87353 14.4305 8 14.4305C12.1265 14.4305 14.4776 11.6062 15.5112 9.92282C15.8307 9.40601 16 8.8104 16 8.20279C16 7.59518 15.8307 6.99957 15.5112 6.48276ZM14.375 9.22508C13.4873 10.6685 11.478 13.0976 8 13.0976C4.52196 13.0976 2.5127 10.6685 1.62503 9.22508C1.43519 8.91789 1.33464 8.56391 1.33464 8.20279C1.33464 7.84168 1.43519 7.48769 1.62503 7.1805C2.5127 5.73704 4.52196 3.30794 8 3.30794C11.478 3.30794 13.4873 5.73437 14.375 7.1805C14.5648 7.48769 14.6654 7.84168 14.6654 8.20279C14.6654 8.56391 14.5648 8.91789 14.375 9.22508Z" fill="#333333"/>
                    <path d="M8.00007 4.87061C7.34104 4.87061 6.69682 5.06603 6.14885 5.43217C5.60089 5.7983 5.17381 6.3187 4.92161 6.92757C4.66941 7.53643 4.60343 8.2064 4.732 8.85277C4.86057 9.49913 5.17792 10.0929 5.64392 10.5589C6.10992 11.0249 6.70365 11.3422 7.35001 11.4708C7.99637 11.5993 8.66635 11.5334 9.27521 11.2812C9.88407 11.029 10.4045 10.6019 10.7706 10.0539C11.1367 9.50596 11.3322 8.86173 11.3322 8.2027C11.3311 7.3193 10.9797 6.47238 10.3551 5.84772C9.73039 5.22306 8.88347 4.87166 8.00007 4.87061ZM8.00007 10.202C7.60465 10.202 7.21812 10.0847 6.88934 9.86503C6.56056 9.64535 6.30431 9.33311 6.15299 8.96779C6.00168 8.60247 5.96208 8.20049 6.03922 7.81267C6.11637 7.42485 6.30678 7.06862 6.58638 6.78901C6.86598 6.50941 7.22221 6.319 7.61003 6.24186C7.99785 6.16472 8.39984 6.20431 8.76515 6.35563C9.13047 6.50695 9.44271 6.7632 9.66239 7.09198C9.88207 7.42075 9.99933 7.80729 9.99933 8.2027C9.99933 8.73294 9.78869 9.24146 9.41376 9.61639C9.03883 9.99133 8.53031 10.202 8.00007 10.202Z" fill="#333333"/>
                </svg>`;
            }
        });

        // Language selector functionality
        document.querySelectorAll('.language-option').forEach(option => {
            option.addEventListener('click', function() {
                document.querySelectorAll('.language-option').forEach(opt => opt.classList.remove('active'));
                this.classList.add('active');
            });
        });

        //submit form
        document.querySelector('.login-form').addEventListener('submit', function(e) {
            e.preventDefault();
            console.log('Form submitted');
              // Clear existing validation
            formValidation.clearAllValidation('loginForm');
            formValidation.clearFormError('loginForm');

            // Define validation rules
            const validations = [
                {
                    field: 'username',
                    rule: 'required',
                    message: 'Name is required.'
                },
                {
                    field: 'password',
                    rule: ['required'],
                    message: 'Password is required.'
                },
            ];
            // Validate all fields
            const isValid = formValidation.validateFields(validations);

            if (!isValid) {
                //formValidation.showFormError('loginForm', 'Please correct the errors below and try again.');
                return;
            }

            //get username and password
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            axios.post('/login', {
                username: username,
                password: password
            }).then(response => {
                console.log(response);
                if (response.status === 200) {
                    window.location.href = '/aligners-cases';
                }
            }).catch(error => {
                console.log(error);
                Toast.error('Invalid username or password');
            });


        });


    </script>
</body>
</html>